{
	auto_https disable_redirects
}

:80 {
	respond /health 200

	reverse_proxy app:3000 {
		header_up X-Real-IP {remote_host}

		transport http {
			read_timeout  300s
			write_timeout 300s
		}
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
}

localhost {
	tls internal

	respond /health 200

	reverse_proxy app:3000 {
		header_up X-Real-IP {remote_host}

		transport http {
			read_timeout  300s
			write_timeout 300s
		}
	}

	header {
		X-Frame-Options "SAMEORIGIN"
		X-Content-Type-Options "nosniff"
		X-XSS-Protection "1; mode=block"
		Referrer-Policy "strict-origin-when-cross-origin"
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
	}
}
